<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>fashion boutique</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Image</display-name>
    <servlet-name>Image</servlet-name>
    <servlet-class>com.image.Image</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Image</servlet-name>
    <url-pattern>/Image</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadImage</display-name>
    <servlet-name>UploadImage</servlet-name>
    <servlet-class>upload.UploadImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadImage</servlet-name>
    <url-pattern>/UploadImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadImag</display-name>
    <servlet-name>UploadImag</servlet-name>
    <servlet-class>com.upload.UploadImag</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadImag</servlet-name>
    <url-pattern>/UploadImag</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Imag</display-name>
    <servlet-name>Imag</servlet-name>
    <servlet-class>com.image.Imag</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Imag</servlet-name>
    <url-pattern>/Imag</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cart</display-name>
    <servlet-name>cart</servlet-name>
    <servlet-class>com.upload.cart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cart</servlet-name>
    <url-pattern>/cart</url-pattern>
  </servlet-mapping>
</web-app>